@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~/bootstrap";

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

p {
  margin-top: inherit;
  margin-bottom: inherit;
}

.flex-basis-100 > * {
  flex-basis: 100%;
}

.flex-basis-50 > * {
  flex-basis: calc(50% - 0.5rem);
}

@media (max-width: 576px) {
  .flex-basis-sm-100 > * {
    flex-basis: 100%;
  }
  .flex-basis-sm-50 > * {
    flex-basis: calc(50% - 0.5rem);
  }
}

