@import "~/@fontsource/roboto/300.css";
@import "~/@fontsource/roboto/400.css";
@import "~/@fontsource/roboto/500.css";
@import "~/@fontsource/roboto/700.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap");

@import "~/bootstrap";

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
